<html>
    <head>
        <title>{% block head_title %}Golb{% endblock %}</title>
    </head>
    <body>
        <p>
            {% if user %}
                Welcome, {{ user.username }} |
                <a href="/logout">Logout</a> |
            {% else %}
                <a href="/login">Login</a> |
            {% endif %}
            <a href="/index">Home</a>
        </p>

        <h1>{% block title %}Welcome to my block{% endblock %}</h1>

        {% block content %}

        {% endblock %}
    </body>
</html>
