{% extends 'base.html' %} 

{% load markdown_filter %}

{% block content %}

    <div class="post">
    <h1>{{ post.title }}</h1>

    {{ post.body|markdownify|safe }}

    <h6 style="text-align: right">Author: {{ post.author }} | Created on: {{ post.date_created }} | 
    Category: {{ post.category }}</h6>
    <hr>

    {% if user.is_authenticated %}
    <div class="row">
    <div class="col-xs-2">
    <form id="del_post" action="/del_post/{{ post.id }}/" method="post">
        {% csrf_token %}
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete post">
    </form>
    </div>
    <div class="col-xs-2">
    <form id="edit_post" action="/edit_post/{{ post.id }}/" method="get">
        {% csrf_token %}
        <input type="submit" value="Edit post">
    </form>
    </div>
    </div>
    {% endif %}

    </div>
{% endblock %}
